.underlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: grid;
  place-items: center;
  background: rgba(0,0,0,.1);
}

.modal {
  max-height: 100vh;
  background: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.modal-basic {
  max-width: 720px;
  border-radius: 40px;
  padding: 50px;
}

